form {
        h1 {
          text-align: center;
        }
        .btn-group, .form-group {
          width: 100%;
        }
        .surfSupButton {
          width: 49.5%;
          display: inline-block;
        }
        .btn-success {
          text-transform: uppercase;
        }
        .surf-sup-button {
        border: none;
        padding: 14px;
        color: #fff;
        margin: 0 10px;
        background: rgba (25,29,165, 0.8);
        font-weight: 700;
        border-radius: 4px;
        width: 42.5%;
      }
      .isActiveSup {
        background: yellow;
      }
      .disabled {
        background: #eee;
        color: green;
      }
      .active {
        background: rgb(25,29,165);
      }
      .disabled {
        background: #eee;
        color: #aaa;
      }
}
