* {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  // font-family: 'Inconsolata', ;
}

*:focus {
  outline: none;
}

body {
  background-color: none;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), url("../images/SurfSUP_BackgroundImage(WEB-SAFE).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  div.outerSiteWrapper {
    border: 1px solid #aaa;
    margin: 50px auto;
    padding: 8px;
    max-width: 952px;
    .innerSiteWrapper {
      background-color: rgba(250, 250, 250, 0.1);
      padding-bottom: 25px;
    }
    h1 {
      margin-top: 0;
    }
  }
}

.main-container {
  position: relative;
  // padding: 0 25px;
}
.page-header {
  position: relative;
  margin: 0;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08 );
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
}
.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.9em;
  text-transform: uppercase;
}
#main-input {
    background-color: rgba(250, 250, 250, 0.6);
    border-radius: 0;
}
// .panel {
//   background-color: red;
// }
