* {
  box-sizing: border-box;
  font-family: 'Lato';
}

body {
  background-color: none;
  font-family: 'Lato', sans-serif;
  // background-image: linear-gradient(rgba(0,0,75, 0.6), rgba(0,0,75, 0.6)), url("../images/surfsUpBackground.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
}

.main-container {
  position: relative;
}
.page-header {
  position: relative;
  margin: 0;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08 );
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
}
.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}


// want to add this section to another partial
