@media (min-width: 450px) {
.wind-column {
  width: 26%;
}
}
.weather-data {
  font-size: 1.7em;
}


.login-outterSiteWrapper {
  width: 75%;
  margin: 9% auto;
  border: 1px solid #aaa;
  padding: 8px;
}
.login-innerSiteWrapper {
  margin: 0 auto;
  background-color: rgba(250, 250, 250, 0.2);
  padding: 25px 0;
  img {
    width: 43%;
    min-width: 224px;
    display: block;
    margin: 0 auto;
  }
  .login-header-wrapper {
    height: 70px;
    margin: 22px 0;
    background: -ms-linear-gradient(left, #0B6575 0%, #326D6E 100%);
    background: -moz-linear-gradient(left, #0B6575 0%, #326D6E 100%);
    background: -o-linear-gradient(left, #0B6575 0%, #326D6E 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #0B6575), color-stop(100, #326D6E));
    background: -webkit-linear-gradient(left, #0B6575 0%, #326D6E 100%);
    background: linear-gradient(to right, #0B6575 0%, #326D6E 100%);
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: white;
  }
}

form {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  color: #7d7d7d;
  h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 1px;
    color: #555555;
    text-transform: uppercase;
    }

  input.form-control,input.form-control:focus {
    outline: none;
    // border: 1px solid #E3E3E3;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    font-family: 'Montserrat', sans-serif;
    color: grey;
  }
  input.form-control,input.form-control:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
  input[type="checkbox"] {
    margin: -14px 0 0;
  }

  .create-form {
    max-width: 465px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .create-form input {
    height: 48px;
  }

  .create-form input:focus {
    border: 1px solid #ABABAB;
  }

  .create-form label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    color: white;
  }
  .submit-button {
    margin-right: 5px;
      background-color: #278A86;
      box-shadow: none;
      border: none;
      color: white;
      font-family: 'Montserrat', sans-serif;
      color: white;
      text-transform: uppercase;
      width: 135px;
      height: 50px;
      font-weight: 700;
      letter-spacing: 1px;
      transition: all 0.3s ease 0s;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 1.2em;
  }
  .submit-button:hover {
    opacity: .9;
  }
  // .btn-success {
  //   margin-top: 1%;
  // }
  // .btn-primary {
  //   text-transform: uppercase;
  //   margin-bottom: 5px;
  //   // box-shadow: 1px 1px 8px #aaa;
  // }
  //
  // .checkbox {
  //   padding-left: 0;
  // }
  a {
    margin-left: 3px;
    color: white;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
  }
  p {
    color: white;
    display: inline-block;
  }
  a:hover {
    text-decoration: none;
    opacity: 0.9;
  }
  #create-form-link {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  #main-input {

      border-radius: 0;
      padding: 0 15px;
  }
  label {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
  }

} // end of form
