form {
  // background-color: #ccc;
  // padding: 2%;
  .btn-success {
    margin-top: 1%;
  }
  .btn-primary {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .checkbox {
    padding-left: 0;
  }


}

a:hover {
  text-decoration: none;
}
