.angular-google-map-container {
  height: 400px;
}

.sessions-map {
  width:500px;
  height:480px;
}

div#myModal.modal.fade.in{
    visibility: visible;
}

div#myModal.modal.fade{
    display: block;
    visibility: hidden;
}
