.mobile-nav-links {
  font-size: 1.7em;
  color: #1F5064;
  margin: 15px 0px;
}
.mobile-nav-links a {
  font-family: 'Inconsolata', sans-serif;
}
.panel {
  background-color: white;
}
.mobile-nav {
  margin: 15% 0;
}
