.desktop-navigation {
  display: inline-block;
}
.desktop-navigation li {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 1em;
  letter-spacing: 1px;
}

header.page-header.push {
  background: linear-gradient(to right, #0B6575 0%, #326D6E 100%);
  padding: 0;
  border-bottom: none;
  box-shadow: 1px 1px 8px #333;
  .navbar {
    background: linear-gradient(to right, #0B6575 0%, #326D6E 100%);
    border: none;
    padding: 0px 25px;
    margin: 0;
  }
  #logoutBtn {
    color: #278A86;
    background-color: #fff;
    border-color: #ccc;
    font-weight: bold;
    padding: 5px;
  }
  .logOutAndFriend {
    position: relative;
    top: 24px;
  }
  #navbarDesktop {
    position: relative;
    bottom: 7px;
    width:71%;
  }
  #navbarDesktop li {
    color: #ddd;
    font-size: 16px;
  }
  #navbarDesktop li:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  h3 {
    display: inline-block;
  }
  #logo-header a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    color: #fff;
    font-weight: 900;
    display: inline-block;
  }
  a:hover {
    text-decoration: none;
  }
  ul.desktop-navigation.ng-scope a {
    color: #fff;
  }
  .menu-link {
    display: none;
    font-size: 2em;
    color: #191DA5;
    margin-right: 15px;
  }
  @media (max-width: 765px) {
    .menu-link {
      display: inline-block;
    }
    .desktop-navigation {
      display: none;
    }
  }
  .friendRequestIcon {
    display: inline-block;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
    .friendCircle {
      background-color: #FC9B1B;
    }
    span.glyphicon.glyphicon-user {
      top: 3px;
    }
  }
}
