#profileHeadline {
  padding-top: 20px;
}
#profileHr {
  width: 220px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

#profileWrapper {
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 15px;
  width: 250px;
  text-align: center;
  background-color: rgba(250,250,250, 0.7);
  h2#profileUsername {
    margin-top: 0;
    color: #1F5064;
    font-weight: bold;
  }
  .profileUsernameUnderline {
    border-bottom: 2px solid #FC9B1B;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 10px;
  }
  .glyphicon.glyphicon-user.profilePic {
    font-size: 80px;
    color: #1F5064;
  }
  .profileInfo {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #444;
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 16px;
    margin-bottom: -3px;
  }
  #profileName{
    text-transform: capitalize;
  }
  #profilePhone a, #profileEmail a {
    color: #444;
  }
  #addFriendButton {
    margin-top: 10px;
    background-color: #1F5064;
    color: #fff;
  }
}
