h6 {
  text-align: center;
  color: #777;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  button.btn.btn-xs.btn-danger.pull-right {
    position: relative;
    bottom: 24px;
  }
  button.btn.btn-xs.btn-success.pull-right {
    position: relative;
    bottom: 24px;
    margin-right: 5px;
  }
  h5 {
    color: #444;
    text-transform: uppercase;
    font-weight: 400;
  }
  p {
    color: #777;
  }
  span.glyphicon.glyphicon-user {
    margin-right: 6px;
  }
  a.editable-click {
    border-bottom: none;
  }

}
