#friendsListWrapper {
  max-width: 400px;
  margin: 0 auto; }
  #friendsListWrapper .viewProfileLink {
    display: inline-block;
    text-decoration: underline;
    text-align: center; }
  #friendsListWrapper #friendsListUserIcon {
    font-size: 30px; }
  #friendsListWrapper #friendsListUsername {
    vertical-align: 8px; }
  #friendsListWrapper .btn.btn-xs.btn-danger.pull-right.removeFriendBtn {
    position: relative;
    top: 8px; }
  #friendsListWrapper #friendsListProfileLink {
    vertical-align: 8px; }

form h1 {
  text-align: center; }

form .btn-group, form .form-group {
  width: 100%; }

form .surfSupButton {
  width: 49.5%;
  display: inline-block; }

form .btn-success {
  text-transform: uppercase; }

form .surf-sup-button {
  border: none;
  padding: 14px;
  color: #fff;
  margin: 0 10px;
  background: blue;
  font-weight: 700;
  border-radius: 4px; }

form .isActiveSup {
  background: yellow; }

form .disabled {
  background: #eee;
  color: green; }

form .button {
  border: none;
  padding: 14px;
  color: #fff;
  margin: 0 10px;
  background: green;
  font-weight: 700;
  border-radius: 4px; }

form .active {
  background: orange; }

form .disabled {
  background: #eee;
  color: #aaa; }

h6 {
  text-align: center;
  color: #777; }

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px; }
  .list-group button.btn.btn-xs.btn-danger.pull-right {
    position: relative;
    bottom: 24px; }
  .list-group button.btn.btn-xs.btn-success.pull-right {
    position: relative;
    bottom: 24px;
    margin-right: 5px; }
  .list-group h5 {
    color: #444;
    text-transform: uppercase;
    font-weight: 400; }
  .list-group p {
    color: #777; }
  .list-group span.glyphicon.glyphicon-user {
    margin-right: 6px; }
  .list-group a.editable-click {
    border-bottom: none; }

* {
  box-sizing: border-box;
  font-family: 'Lato'; }

body {
  background-color: none;
  font-family: 'Lato', sans-serif; }

.main-container {
  position: relative; }

.page-header {
  position: relative;
  margin: 0;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08); }

.panel {
  position: fixed;
  left: -15.625em;
  /*left or right and the width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/ }

form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #7d7d7d; }
  form h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 1px;
    color: #555555;
    text-transform: uppercase; }
  form input.form-control, form input.form-control:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    font-family: 'Lato', sans-serif; }
  form input.form-control, form input.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; }
  form input[type="checkbox"] {
    margin: -14px 0 0; }
  form .create-form {
    max-width: 465px;
    font-family: 'Lato', sans-serif; }
  form .create-form input {
    height: 48px; }
  form .create-form input:focus {
    border: 1px solid #ABABAB; }
  form .create-form label {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em; }
  form .submit-button {
    margin-right: 5px;
    background-color: #191DA5;
    box-shadow: none;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    width: 135px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s; }
  form .submit-button:hover {
    opacity: .9; }
  form a {
    margin-left: 3px;
    color: #7d7d7d;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc; }
  form a:hover {
    text-decoration: none;
    color: #7d7d7d;
    opacity: 0.7; }

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 1px;
  color: #555555; }

input.form-control, input.form-control:focus {
  outline: none;
  border: 1px solid #E3E3E3;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-family: 'Lato', sans-serif; }

.create-form {
  max-width: 465px;
  font-family: 'Lato', sans-serif; }

.create-form input {
  height: 48px; }

.create-form input:focus {
  border: 1px solid #ABABAB; }

.create-form label {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em; }

.submit-button {
  background-color: #191DA5;
  box-shadow: none;
  border: none;
  color: white;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  width: 135px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s; }

.submit-button:hover {
  opacity: .9; }

.cancel-button {
  background-color: white;
  border: none;
  box-shadow: none;
  color: grey; }

.desktop-navigation {
  display: inline-block; }

.desktop-navigation li {
  list-style-type: none;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 1em;
  color: #7d7d7d;
  letter-spacing: 1px; }

.navbar {
  background-color: white;
  border: none;
  padding: 0px 25px;
  margin: 0; }

h3 {
  display: inline-block; }

#logo-header a {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: #191DA5;
  font-weight: 900;
  letter-spacing: 1px;
  display: inline-block; }

a:hover {
  text-decoration: none; }

.menu-link {
  display: none;
  font-size: 2em;
  color: #191DA5;
  margin-right: 15px; }

@media (max-width: 765px) {
  .menu-link {
    display: inline-block; }
  .desktop-navigation {
    display: none; } }

.friendRequestIcon {
  position: relative;
  top: 32px; }
  .friendRequestIcon:hover {
    cursor: pointer; }
  .friendRequestIcon .friendCircle {
    padding: 5px;
    border-radius: 100%;
    background-color: #ccc; }
