form h1 {
  text-align: center; }

form .btn-group, form .form-group {
  width: 100%; }

form .surfSupButton {
  width: 49.5%;
  display: inline-block; }

form .btn-success {
  text-transform: uppercase; }

* {
  box-sizing: border-box; }

body {
  background-color: none; }

.main-container {
  position: relative; }

.page-header {
  position: relative; }

.panel {
  position: fixed;
  left: -15.625em;
  /*left or right and the width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/ }

form .btn-success {
  margin-top: 1%; }

form .btn-primary {
  text-transform: uppercase; }

a:hover {
  text-decoration: none; }
