form h1 {
  text-align: center; }

form .btn-group, form .form-group {
  width: 100%; }

form .surfSupButton {
  width: 49.5%;
  display: inline-block; }

form .btn-success {
  text-transform: uppercase; }

* {
  box-sizing: border-box; }

body {
  background-color: none; }

.main-container {
  position: relative; }

.page-header {
  position: relative; }

.panel {
  position: fixed;
  left: -15.625em;
  /*left or right and the width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/ }

form .btn-success {
  margin-top: 1%; }

form .btn-primary {
<<<<<<< HEAD
  text-transform: uppercase; }

a:hover {
  text-decoration: none; }
=======
  text-transform: uppercase;
  margin-bottom: 5px; }

form .checkbox {
  padding-left: 0; }

a:hover {
  text-decoration: none; }

a.editable-click {
  border-bottom: none; }
>>>>>>> 15d44a41441d976781f231bdea873c22a5211c58
