<div class="container">
  <form>
    <h1>Create Session</h1>
    <div class="form-group">
      <button ng-model="surf.surf"class="btn btn-md btn-success surfSupButton" type="button" ng-click="suppy = true" name="button">Surf</button>
      <button class="btn btn-md btn-success surfSupButton" type="button" ng-click="suppy = false" name="button">SUP</button>
    </div>
    </br>
    <div class="form-group" >
      <input class="form-control" ng-model="location" type="text" name="name" placeholder="Enter Location">
    </div>
    <div class="form-group">
      <input class="form-control" ng-model="time" type="datetime-local" name="sessionTime">
      date = {{sessionObj.time}}
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Invite Friends
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-md btn-success btn-block" ng-click ="addSesh()" type="button" name="button">Submit</button>
    </div>
    </br>
  </form>
</div>
