<a href="/#/home"><button class="pull-right btn btn-danger" type="button" name="button">Back</button></a>
<form class="form" name="form" novalidate>
  <h1>Add Session</h1>
  <div class="form-group">
    <button ng-model="surf.surf"class="btn btn-md btn-success surfSupButton" type="button" ng-click="suppy = true" name="button">Surf</button>
    <button class="btn btn-md btn-success surfSupButton" type="button" ng-click="suppy = false" name="button">SUP</button>
  </div>
  </br>
  <div class="form-group" >
    <input class="form-control" ng-model="location" type="text" name="location" placeholder="Enter Location" required>
  </div>
  <div ng-show="submitted && form.$invalid" >
    <div ng-show="form.location.$error.required" class="alert alert-danger">
      location is Required
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" ng-model="time" type="datetime-local" name="time" required>
  </div>
  <div id="sessionTime"></div>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Invite Friends
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <div class="btn-group">
    <button class="btn btn-md btn-success btn-block" ng-click ="addSesh(); submitted=true" type="button" name="button">Submit</button>
  </div>
  </br>
</form>
