<div data-toggle="modal" data-target=".bs-example-modal-lg" ng-controller="FriendController" ng-click="friendAccept()" class="pull-right friendRequestIcon">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  <span class="friendCircle">{{requests}}</span>
</div>
<div class="modal fade bs-example-modal-lg" ng-controller="FriendController" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h4 class="modal-title" id="gridSystemModalLabel">Friend Request</h4>
      <p ng-repeat = "requests in requestList">
        {{requests}}
      </p>
    </div>
  </div>
</div>
