<!-- <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">SurfSUP</a>
</nav> -->

<!-- <div>
  <button ng-click="logout()" class="btn btn-md btn-danger pull-right" type="button" name="button">Logout</button>
</div> -->
<div class="jumbotron">
  <a href="/#/addSession"><button class="btn btn-warning" type="button" name="button">Add Session</button></a>
  <a href="/#/sessions"><button class="btn btn-success" type="button" name="button">Go To Sessions</button></a>
  <h1>Weather or Google Map</h1>
  <p>could go here</p>
  <div class="">
    <div ng-repeat="weather in weatherData | limitTo: 6" >
      <span>{{weather.localTimestamp * 1000 | date:'EEE h a'}}</span>
      <span>{{weather.localTimestamp * 1000 | date:'EEE h a'}}</span>
      Surf: {{weather.swell.maxBreakingHeight}}feet, Temp: {{weather.condition.temperature}}
    </div>
  </div>

</div>
