<!-- <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">SurfSUP</a>
</nav> -->

<!-- <div>
  <button ng-click="logout()" class="btn btn-md btn-danger pull-right" type="button" name="button">Logout</button>
</div> -->
<div class="outerWxWrapper">
  <div class="innerWxWrapper">
    <h1>Today's Weather</h1>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getWeatherData(iop); getTideData(iop);">Isle Of Palms</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getWeatherData(washout); getTideData(washout);">Folly Beach</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getWeatherData(pawley); getTideData(pawleys);">Pawleys Island</button>
      </div>
    </div>
    <div class="">
      <h3>Today's Weather</h3>
      <table class="table table-striped">
        <thead>
       <tr>
         <th>TIME</th>
         <th>SURF</th>
         <th>WIND</th>
         <th>TEMP</th>
       </tr>
     </thead>
        <tr ng-repeat="weather in weatherData | limitTo: 6: 3" >
          <td>{{weather.localTimestamp * 1000 | date:'ha'}}</td>
          <td>{{weather.swell.maxBreakingHeight}}ft</td>
          <td>{{weather.wind.compassDirection}} {{weather.wind.speed}}mph</td>
          <td>{{weather.condition.temperature}}</td>
        </tr>
      </table>
      <h3>Next 4 tides</h3>
      <table class="table table-striped">
        <thead>
       <tr>
         <th>TIDE</th>
         <th>TIME</th>
       </tr>
     </thead>
        <tr ng-repeat="tide in tideData | limitTo: 4: 1" >
          <td><strong>{{tide.type}}</strong></td>
          <td>{{tide.dt * 1000 | date:'EEE h:mm a'}}</td>
        </tr>
      </table>
      <div class="btn-group btn-group" role="group">
        <a href="/#/addSession"><button class="btn btn-warning" type="button" name="button">Add Session</button></a>
        <a href="/#/sessions"><button class="btn btn-success" type="button" name="button">Go To Sessions</button></a>
      </div>
      </div>
    </div>
  </div>
