<div class="container">
  <h1>Login</h1>
  <form class="loginForm">
    <div id="usernameAlert"></div>
    <div id="passwordAlert"></div>
    <div class="form-group">
      <input ng-model="loginObj.username" type="text" class="form-control" placeholder="username">
    </div>
    <div class="form-group">
      <input ng-model="loginObj.password" type="password" class="form-control" placeholder="password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Remember me
      </label>
    </div>
    <button ng-click="login()" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
    <button ng-click="logout()" class="btn btn-md btn-danger pull-right" type="button" name="button">Logout</button>
  </form>
</div>
