
<div class="session-container" >
  <span>{{activity.user.username}} is going {{activity.isSurf ? 'Surfing' : 'Paddle Boarding'}}</span>
  <span> at </span>
  <a href="#" editable-text="activity.location"
              onaftersave="editSession(activity)">{{activity.location}}</a>
  <span> on </span>
  <a href="#" editable-combodate="activity.time"
              onaftersave="editSession(activity)"
              date-type="datetime"
              >{{activity.time | date : 'EEEE, MMMM d, h:mm a'}}</a>
  <!-- <button class="btn btn-xs btn-warning"
          type="button"
          ng-click="editSession(activity.user.id)"
          name="button">Edit
  </button> -->
  <button class="btn btn-xs btn-danger"
          type="button"
          ng-click="deleteSession(activity.id)"
          name="button">Delete
  </button>
</div>
