
<div class="session-container" >
  <a href="#" editable-text="activity.user.username">USERNAME: {{activity.user.username || 'empty'}}</a>

  <a href="#" editable-text="activity.location">LOCATION: {{activity.location || 'empty'}}</a>
  <a href="#" editable-combodate="activity.time" date-type="datetime" data-format="DD-MM">TIME: {{activity.time | date:"dd/MM/ HH:mm"}}</a>
  <button class="btn btn-xs btn-warning"type="button" ng-click="editSession(activity.user.id)" name="button">Edit</button>
  <button class="btn btn-xs btn-danger"type="button" ng-click="deleteSession(activity.id)" name="button">Delete</button>
</div>
