<h1 ng-controller="UserController">WELCOME TO SESSIONS, {{currentUser}}</h1>
<h6>(edit your session by clicking links)</h6>
<hr>

<div  ng-repeat="seshActivities in seshActivity | orderBy: 'time '">
  <session-reader activity = "seshActivities"> </session-reader>
</div>
<a href="/#/addSession">
  <button class="btn btn-success"
          type="button"
          name="button">Add a session
  </button>
</a>

<!-- if (today.getDay() === new Date().getDay()) {
  console.log('today is today')


orderBy: 'time'
